html {
  box-sizing: border-box;
}

input[type="checkbox"] {
  display: none;
}

svg {
  width: 24px;
  height: 24px;
  stroke: #2329D6;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-linejoin: miter;
  fill: none;
  color: #2329D6;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  /*padding-left: 10px;
  padding-right: 10px;
  color: #333;
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow-y: auto;*/
}

.list__task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid red;
}

.list__task-checkmark {
  opacity: 0;
}

.list__task-checkmark_state_checked {
  opacity: 100;
}

.list__task-text_style_crossed {
  text-decoration: line-through;
}

.list__task-label {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.list__task-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.material-icons.orange600 {
  color: #FB8C00;
}
