@import url('__task-item/list__task-item.css');
@import url('__task-checkmark/list__task-checkmark.css');
@import url('__task-text/list__task-text.css');
@import url('__task-label/list__task-label.css');
@import url('__task-button/list__task-button.css');

.list {
  padding: 0;
  list-style-type: none;
}

.list:empty {
  display: none;
}
