@import url('common.blocks/container/container.css');
@import url('common.blocks/title/title.css');
@import url('common.blocks/task-form/task-form.css');
@import url('common.blocks/list/list.css');
@import url('common.blocks/empty-state/empty-state.css');

:root {
  --primary-color: #1da2f1;
  --background-color: #ffffff;
  --border-radius: 3px;
}

html {
  box-sizing: border-box;

  background-image: url(../assets/images/raindrops2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  /* To show while the background is loading */
  background-color: #ffffff;
}

* {
  box-sizing: inherit;
}

input[type="checkbox"] {
  display: none;
}

svg {
  width: 24px;
  height: 24px;
  stroke: var(--primary-color);
  stroke-width: 2;
  stroke-linecap: square;
  stroke-linejoin: miter;
  fill: none;
  color: var(--primary-color);
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}
