@import url("common.blocks/container/container.css");
@import url("common.blocks/title/title.css");

:root {
  --primary-color: #1da2f1;
  --background-color: #ffffff;
  --border-radius: 3px;
}

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", sans-serif;

  /* To show while the background is loading */
  background-color: #e7f5fd;
}

body.visible {
  /* To be able to lazy load the heavy background image */
  background-image: url(../assets/images/raindrops2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
